* {
    
    box-sizing: border-box;
}

h1 {
    position: relative;
    left: 10px;
}

.parent{
background-color:azure;



}
.a{
    
position: sticky;
top: 0;
left: 0;
width: 100%;
padding: 1px;
background-color: #000000;
color: skyblue;
border-bottom: 1px solid #ccc ;

}
.b{
position: sticky;
top: 0;
left: 0;
width: 100%;
padding: 1px;
background-color: black;    
color:skyblue;
border-bottom: 1px solid #ccc ;

}
.c{
position:sticky;
top: 0;
left: 0;
width: 100%;
padding: 1px;
background-color: black;
color: skyblue;
position: sticky;
border-bottom: 1px solid #ccc ;

}
body{
  
   top: 0;
  
}